body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
  margin: 0 20px;
  margin-top: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(14, 87, 166);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  padding: 0;
}

.header-title {
  margin: 0;
  font-size: 20px;
  margin-right: 0px;
}

.header-image img {
  height: 40px;
  padding-right: 40px;
}

.logout {
  margin-right: -100px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.logout button {
  border: white;
  background-color: rgb(14, 87, 166);
  color: white;
  cursor: pointer;
}

.form-page {
    margin: 20px;
    margin-top: 100px;
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: rgb(14, 87, 166);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}